body {
    font-family: 'Raleway', sans-serif;
}

.navbar-inverse{
    position: fixed;
    top: 0;
    width: 82%;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.conservation:hover{
    color: #00BB00;
}

.conservation{
    font-size: 23px;
    color: #8B0304;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 30px;
}

.text_foriners{
    margin-top: 20px;
    font-size: 23px;
    color: #00BB00;
}

.attention_foriners{
    margin-right: 150px;
    margin-top: 20px;
    font-size: 23px;
    color: #00BB00;
    margin-left: 40px;
    font-weight: bold;
    float: left;
    width: 250px;
}

.header{
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    margin-left: 15px;
}

.paragraph{
    font-size: 18px;
    text-indent: 1.5em;
    margin-bottom: 0;
    text-align: left;
    margin-left: 15px;
}

h4 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#line {
    margin-top: -3px;
    border-color: #303030;
}

.line2{
    border-color: #303030;
    margin-bottom: 50px;
}

.header2{
    margin-top: 50px;
    margin-left: 15px;
}

#mainHeader{
    margin-left: 100px;
    text-align: left;
    margin-top: -27px;
}

ul {
    margin-top: 60px;
}

.navbar-inverse .navbar-nav > li {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
}

.nav-pills > li {
    padding: 15px;
    border-radius: 5px;
}

.nav-pills > li:hover {
    background-color: #cdcdcd;
}

.nav-pills > li > a{
    font-size: 17px;
    font-weight: bold;
}

.nav-pills > li > a:hover {
    background-color: #999999;
    font-size: 18px;
}

ul > li:hover {
    background-color: #D42627;
}

.navbar-inverse .navbar-nav > li {
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white;
}

.navbar-inverse {
    background-color: #8B0304;
    border-color: #8B0304;
}

.col-sm-9 {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-left: 500px;
}

#wrapper {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    height: 90%;
    margin-top: 90px;
    margin-left: 30px;
}

.nav > li > a {
    color: #303030;
}

.row.content {
    height: 1500px;
    background-color: white;
}

.navbar-fixed-left {
    background-color: #cdcdcd;
    height: 1500px;
    border-radius: 5px;
    width: 500px;
    overflow:hidden;
    position: fixed;
    border-color: #cdcdcd;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}


footer {
    text-align: center;
    background-color: #8B0304;
    border-color: #8B0304;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 110%;
}

@media screen and (max-width: 767px) {
    .navbar-fixed-left {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}



