body {
    font-family: 'Raleway', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: white;
}

h4 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
}

#line {
    margin-top: -3px;
}

.line2{
    border-color: #303030;
}

h2{
    margin-left: 100px;
    text-align: left;
    margin-top: -27px;
}

ul {
    margin-top: 60px;
}

.nav-pills > li {
    padding: 15px;
    border-radius: 5px;
}

.nav-pills > li:hover {
    background-color: #c4e6ff;
}

.nav-pills > li > a:hover {
    background-color: #c4e6ff;
}

ul > li:hover {
    background-color: #D42627;
}

.navbar-inverse .navbar-nav > li {
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #303030;
}

.navbar-inverse {
    background-color: #8B0304;
    border-color: #8B0304;
}

.col-sm-9 {
    padding-left: 0px;
    padding-right: 0px;

}

#wrapper {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}

.nav > li > a {
    color: #303030;
}

footer {
    text-align: center;
}

.row.content {
    height: 1500px;
    background-color: white;
}

.sidenav {
    background-color: #cdcdcd;
    height: 100%;
}

footer {
    background-color: #8B0304;
    border-color: #8B0304;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}



