body {
    font-family: 'Raleway', sans-serif;
}

.row.content{
    height: 900px;
    margin-top: 50px;
}

ul > li:hover {
    background-color: #e69598;
}

.col-sm-8{
    height: 100%;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: black;
}

.navbar {
    background-color: #cb2c31;
    margin-bottom: 0;
    border-radius: 0;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#myContainer {
    min-height: 900px;
}